<template>
  <q-page class="constrain q-pa-md">
    <div class="row">
      <div class="col-12 col-sm-8">
        <template v-if="!loadingPosts && posts.length">
          <q-card :key="post.id" v-for="post in posts" class="card-post q-mb-md" flat bordered>
            <q-item>
              <q-item-section avatar>
                <q-avatar>
                  <img src="https://cdn.quasar.dev/img/boy-avatar.png">
                </q-avatar>
              </q-item-section>

              <q-item-section>
                <q-item-label class="text-bold">Martin Mustermann</q-item-label>
                <q-item-label caption>
                  {{ post.location }}
                </q-item-label>
              </q-item-section>
            </q-item>

            <q-separator/>
            <q-img
              class="col-5 q-img"
              :src="post.imageUrl"
            />
            <q-card-section>
              <div>{{ post.caption }}</div>
              <div class="text-caption text-grey">{{ post.date | niceDate }}</div>
            </q-card-section>
          </q-card>
        </template>
        <template v-else-if="!loadingPosts && !posts.length">
          <h5 class="text-center text-grey">No posts yet.</h5>
        </template>
        <template v-else>

          <q-card flat bordered>
            <q-item>
              <q-item-section avatar>
                <q-skeleton size="40px" type="QAvatar" animation="fade"/>
              </q-item-section>

              <q-item-section>
                <q-item-label>
                  <q-skeleton type="text" animation="fade"/>
                </q-item-label>
                <q-item-label caption>
                  <q-skeleton type="text" animation="fade"/>
                </q-item-label>
              </q-item-section>
            </q-item>

            <q-skeleton height="200px" square animation="fade"/>

            <q-card-section>
              <q-skeleton type="text" class="text-subtitle2" animation="fade"/>
              <q-skeleton type="text" width="50%" class="text-subtitle2" animation="fade"/>
            </q-card-section>
          </q-card>

        </template>
      </div>
      <div class="col-4 large-screen-only ">
        <q-item class="fixed">
          <q-item-section avatar>
            <q-avatar size="48px">
              <img src="https://cdn.quasar.dev/img/boy-avatar.png">
            </q-avatar>
          </q-item-section>

          <q-item-section>
            <q-item-label class="text-bold">@mustermann</q-item-label>
            <q-item-label caption>
              Martin Mustermann
            </q-item-label>
          </q-item-section>
        </q-item>
      </div>
    </div>

  </q-page>
</template>

<script>
import {date} from 'quasar';

export default {
  name: 'PageHome',
  filters: {
    niceDate(value) {
      return date.formatDate(value, 'MMMM dddd DD. YYYY, hh:mm')
    }
  },

  methods: {
    async getPosts() {
      this.loadingPosts = true
      console.log('Get Posts')
      this.$axios.get(`${process.env.API}/posts`).then(posts => {
        this.posts = posts.data
        this.loadingPosts = false
      }).catch(err => {
        console.log(err)
        this.$q.dialog({
          title: 'Error',
          message: 'Could not download posts.'
        })
        this.loadingPosts = false
      })

    }
  },
  created() {
    this.getPosts()
  },
  data() {
    return {
      posts: [],
      loadingPosts: false
    }
  }
}
</script>

<style lang="scss">
.card-post {
  .q-img {
    min-height: 200px;
  }
}
</style>
