<template>
  <q-page class="constrain-more q-pa-md">
    <div class="camera-frame q-pa-md">
      <video v-show="!imageCaptured" autoplay class="full-width" ref="video"></video>
      <canvas v-show="imageCaptured" ref="canvas" class="full-width" height="240"></canvas>
    </div>
    <div class="text-center q-pa-md">
      <q-btn v-if="hasCameraSupport" round color="grey-10" size="lg" icon="eva-camera" @click="captureImage"
      :disable="imageCaptured"></q-btn>
      <q-file accept="image/*" v-else outlined v-model="imageUpload" label="Choose a image"
              @input="captureImageFallback">
        <template v-slot:prepend>
          <q-icon name="eva-attach-outline"></q-icon>
        </template>
      </q-file>
    </div>
    <div class="row justify-center q-ma-md">
      <q-input v-model="post.caption" class="col-12 col-sm-7" value="" label="Caption" dense></q-input>
      <q-input v-model="post.location" class="col-12 col-sm-7" value="" label="Location" dense
               :loading="isLoadingLocation">
        <template v-slot:append>
          <q-btn v-show="!isLoadingLocation && locationSupported" round dense flat icon="eva-navigation-2-outline"
                 @click="getLocation"></q-btn>
        </template>
      </q-input>
    </div>
    <div class="row justify-center q-mt-lg">
      <q-btn color="primary" rounded unelevated label="Post Image"
      @click="addPost"
      :disable="!post.caption||!post.photo"></q-btn>
    </div>
  </q-page>
</template>

<script>
import {uid} from 'quasar'

export default {
  name: "PageCamera",
  data() {
    return {
      post: {
        caption: '',
        location: '',
        id: uid(),
        photo: null,
        date: Date.now()
      },
      imageCaptured: false,
      imageUpload: [],
      hasCameraSupport: true,
      isLoadingLocation: false
    }
  },
  computed: {
    locationSupported() {
      if('geolocation' in navigator) {
        return true
      }
      return false
    }
  },
  methods: {
    addPost() {
      this.$q.loading.show()

      const formData = new FormData()
      formData.append('id', this.post.id)
      formData.append('caption', this.post.caption)
      formData.append('location', this.post.location)
      formData.append('date', this.post.date)
      formData.append('file',this.post.photo, this.post.id + '.png')
      this.$axios.post(`${process.env.API}/posts/create`, formData).then(response => {
        console.log('response', response)
        this.$router.push('/')
        this.$q.loading.hide()

        this.$q.notify({
          message: 'Post created.',
          actions: [
            { label: 'Dismiss', color: 'white'}
          ]
        })
      }).catch(error => {
        console.log('error: ',error)
        this.$q.loading.hide()

        this.$q.notify({
          message: 'Sorry, could not create post.',
          actions: [
            { label: 'Dismiss', color: 'white'}
          ]
        })
      })
    },
    getLocation() {
      this.isLoadingLocation = true
      navigator.geolocation.getCurrentPosition(position => {
        this.getCountryAndCity(position)
      }, err => {
        console.log(err)
        this.locationError(err)
      }, {timeout: 7000})
    },
    async getCountryAndCity(position) {
      console.log(position)
      const latitude = position.coords.latitude
      const longitude = position.coords.longitude
      const apiUrl = `https://geocode.xyz/${latitude},${longitude}?json=1`

      this.$axios.get(apiUrl).then(response => {
        this.locationSuccess(response)

      }).catch(err => {
        this.locationError(err)

      })


    },
    locationSuccess(response) {
      this.post.location = `${response.data.city}, ${response.data.country}`
      this.isLoadingLocation = false
    },
    locationError(err) {
      this.$q.dialog({
        title: 'Error',
        message: 'Could not find your location.'
      })
      this.isLoadingLocation = false
    },
    initCamera() {
      console.log('Camera Init')
      navigator.mediaDevices.getUserMedia({
        video: true
      }).then(stream => {
        this.$refs.video.srcObject = stream;
      }).catch(err => {
        this.hasCameraSupport = false
      })
    },
    captureImage() {
      console.log('Capture Image')
      const video = this.$refs.video
      const canvas = this.$refs.canvas
      canvas.width = video.getBoundingClientRect().width
      canvas.height = video.getBoundingClientRect().height
      const context = canvas.getContext('2d')
      context.drawImage(video, 0, 0, canvas.width, canvas.height)
      this.imageCaptured = true;
      this.post.photo = this.dataURItoBlob(canvas.toDataURL())
      this.disableCamera()
    },
    captureImageFallback(file) {
      this.post.photo = file
      const canvas = this.$refs.canvas
      const context = canvas.getContext('2d')
      const reader = new FileReader()
      reader.onload = (event) => {
        const img = new Image()
        img.onload = () => {
          canvas.width = img.width
          canvas.height = img.height
          context.drawImage(img, 0, 0)
          this.imageCaptured = true
        }
        img.src = event.target.result
      }
      reader.readAsDataURL(file)
    },
    disableCamera() {
      this.$refs.video.srcObject.getVideoTracks()
        .forEach(track => track.stop())
    },
    dataURItoBlob(dataURI) {
      const byteString = atob(dataURI.split(',')[1]);

      const mimeString = dataURI.split(',')[0].split(':')[1].split(';')[0]

      const ab = new ArrayBuffer(byteString.length);

      const ia = new Uint8Array(ab);

      for (let i = 0; i < byteString.length; i++) {
        ia[i] = byteString.charCodeAt(i);
      }

      const blob = new Blob([ab], {type: mimeString});
      return blob;

    }
  },
  beforeDestroy() {
    if (this.hasCameraSupport) {
      this.disableCamera()
    }
  },
  mounted() {
    this.initCamera()
  }
}
</script>

<style lang="scss">
.camera-frame {
  border: 2px solid $grey-10;
  border-radius: 10px;
}

</style>
