<template>
  <q-layout view="lHh Lpr lFf">
    <q-header class="bg-white text-grey-10" bordered>
      <q-toolbar class="constrain">
        <q-btn to="/camera" flat round icon="eva-camera-outline" size="18px" dense
               class="large-screen-only q-mr-sm"></q-btn>
        <q-separator vertical spaced="true" class="large-screen-only"></q-separator>
        <q-toolbar-title class="text-grand-hotel text-bold">
          Quasagram
        </q-toolbar-title>
        <q-btn to="/" flat round icon="eva-home-outline" size="18px" dense
               class="large-screen-only"></q-btn>

      </q-toolbar>
    </q-header>


    <q-page-container class="bg-grey-1">
      <router-view/>
    </q-page-container>
    <q-footer class="bg-white" bordered>
      <div class="banner-container bg-primary" v-if="showAppInstallBanner">
        <div class="constrain">
          <transition
            appear
            enter-active-class="animated fadeIn"
            leave-active-class="animated fadeOut"
            >
            <q-banner dense inline-actions class="bg-primary text-white">
              <template v-slot:avatar>
                <q-avatar color="white" text-color="grey-10" font-size="22px" icon="eva-camera-outline"/>
              </template>
              <b>Install Quasagram?</b>
              <template v-slot:action>
                <q-btn dense class="q-px-sm" flat label="Yes" @click="installApp"/>
                <q-btn dense class="q-px-sm" flat label="Later" @click="showAppInstallBanner = false"/>
                <q-btn dense class="q-px-sm" flat label="Never" @click="neverShowInstallAppBanner"/>
              </template>
            </q-banner>
          </transition>
        </div>
      </div>

      <q-tabs class="text-grey-10 small-screen-only " active-color="primary">
        <q-route-tab to="/" icon="eva-home-outline"/>
        <q-route-tab to="/camera" icon="eva-camera-outline"/>
      </q-tabs>

    </q-footer>
  </q-layout>

</template>

<script>


let deferredPrompt;
export default {
  name: 'MainLayout',
  methods: {
    neverShowInstallAppBanner() {
      this.showAppInstallBanner = false;
      this.$q.localStorage.set('neverShowAppInstallBanner', true)
    },
    installApp() {
      this.showAppInstallBanner = false;
      deferredPrompt.prompt()
      deferredPrompt.userChoice.then((choiceResult) => {
        if (choiceResult.outcome === 'accepted') {
          console.log('user acepted installation of PWA')
          this.neverShowInstallAppBanner()
        } else {
          console.log('user declined installation of PWA')
        }
      })
    }
  },
  data() {
    return {
      showAppInstallBanner: false
    }
  },
  mounted() {
    const neverShowAppInstallBanner = this.$q.localStorage.getItem('neverShowAppInstallBanner')
    if (!neverShowAppInstallBanner) {
      window.addEventListener('beforeinstallprompt', (e) => {
        e.preventDefault()
        deferredPrompt = e;
      setTimeout(() => {
        this.showAppInstallBanner = true
      }, 1000)
      })
    }
  }
}
</script>

<style lang="scss">
@media (min-width: $breakpoint-sm-min) {
  .q-toolbar {
    height: 77px;
  }
}

.q-toolbar__title {
  font-size: 30px;
  @media (max-width: $breakpoint-xs-max) {
    text-align: center;
  }
}

.q-footer {
  .q-tab__icon {
    font-size: 30px;
  }
}
</style>
